################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DatabaseFirstDemo/bin/
/DatabaseFirstDemo/obj/
/packages/
/CodeFirstDemo/bin/
/CodeFirstDemo/obj/
/DbFirst/bin/
/DbFirst/obj/
/CodeFirst/bin/
/CodeFirst/obj/
/CodeFirstExisitngDatabase/bin/
/CodeFirstExisitngDatabase/obj/
/DataAnnotations/bin/
/DataAnnotations/obj/
